@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    margin: -10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rosybrown;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}